c2/target
target
implant/target
client/target
client_v2/target
shared/target
shared_c2_client/target
/c2/staged_files/*
/c2/logs/*
/c2/loot/*
*Cargo.lock
*.exe
*.dll
*.svc

# Ignore user defined profiles, dont want to overwrite those
/c2/profiles/*.toml
# Track the example profile - 
!/c2/profiles/profile.example.toml