{% for tab in tab_data.1 %}
  <li class="nav-item d-flex align-items-center" id="tab-{{ tab }}">
    <a id="tab-link-{{ tab }}"
       class="nav-link {% if loop.index0 == tab_data.0 %}active{% endif %}"
       href="#"
       hx-get="/api/dashboard/get_tabs_id?index={{ loop.index0 }}"
       hx-target="#tab-bar-ul">
      {{ tab }}
    </a>
    {% if loop.index0 > 0 %}
      <button class="btn btn-sm btn-close ms-2" aria-label="Close"
        hx-post="/api/dashboard/close_tab"
        name="index" value="{{ loop.index0 }}"
        hx-target="#tab-bar-ul"
        hx-swap="morphdom"
        style="padding:0.25rem 0.5rem; font-size:0.8rem;"></button>
    {% endif %}
  </li>
{% endfor %}