{% include "header.html" %}

    <div id="connected-agent-container" class="container-fluid">

        <div id="agents-header" class="row">
            <div class="col-4">Agent ID</div>
            <div class="col-1">Process ID</div>
            <div class="col-2">Last check-in</div>
            <div class="col-5">Process name</div>
        </div>

        <div id="agent-rows"
            hx-get="/api/dashboard/poll_agents"
            hx-trigger="load, every 1s"
            hx-target="#agent-rows"
            hx-swap="innerHTML"></div>
    </div>

    <div class="tabbar">
        <ul id="tab-bar-ul"
            class="nav nav-tabs flex-nowrap text-nowrap m-0 px-20"
            hx-get="/api/dashboard/draw_tabs"
            hx-trigger="load, every 500ms"
            hx-target="#tab-bar-ul"
            hx-swap="morphdom"
            hx-ext="morphdom"
            hx-sync="this:abort">
            {% include "htmx_applets/agent_tabs.html" %}
        </ul>
    </div>
            
    <div id="message-panel" class="container-fluid"
        hx-get="/api/dashboard/show_messages"
        hx-trigger="load, every 300ms"
        hx-target="#message-panel"
        hx-swap="innerHTML"></div>


        <div id="input-strip" class="d-flex align-items-center px-3">
            <span class="me-2">&gt;&gt;</span>
             <form hx-post="/api/dashboard/send_command" 
                hx-swap="none"
                hx-on::after-request="this.querySelector('#cmd_input').value=''"
                autocomplete="off"
                class="d-flex flex-grow-1">
                    <input id="cmd_input" name="cmd_input" type="text" class="flex-grow-1" placeholder="Type a command..." />
                    <button class="btn btn-sm btn-secondary btn-block">Send</button>
            </form> 
        </div>
    </div>

{% include "footer.html" %}