{% include "header.html" %}

<div class="container-fluid py-4 app-page">
    <div class="row mb-4">
        <div class="col-12 text-center">
            <h2 class="mb-2 fw-bold">Staged resources</h2>
            <p>Here you can view resources you have staged on the C2 and their URI.
            </p>
        </div>
    </div>
    
    <div class="container">
        <div class="table-responsive">
            <table id="staged-resources-tbl" class="table table-sm align-middle">
                <thead class="table">
                    <tr>
                        <th class="col">Download name</th>
                        <th class="col">URI</th>
                        <th class="col">Link</th>
                        <th class="col"># downloads</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td class="col">my_test.html</td>
                        <td class="col">/something</td>
                        <td class="col"><a href="#">Link</a></td>
                        <td class="col disabled">Coming soon</td>
                    </tr>
                </tbody>


            </table>
        </div>
    </div>

</div>

<script>
  document.getElementById("stage-all-form").addEventListener("submit", () => {
    document.getElementById("response-box").innerHTML =
      '<div class="alert alert-wyrm">Building all payloads, please wait… This may take up to a minute.. or so...</div>';
  });
</script>

{% include "footer.html" %}